* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
Header,
section,
article,
aside,
nav,
footer {
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

/* layout */
.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.33%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}
.h-50 {
  height: 50px;
}
.h-60 {
  height: 60px;
}

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

.px-10 {
  padding: 0 10px;
}
.px-20 {
  padding: 0 20px;
}

.mx-auto {
  margin: 0 auto;
}
.mx-10 {
  margin: 0 10px;
}
.mx-20 {
  margin: 0 20px;
}

/*  display: block;
}
.d-inline {
  display: inline;
}
.d-inlineBlock {
  display: inline-block;
}
.d-none {
  display: none;
}

/* dispay(flex) 정의 */
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* position */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-static {
  position: static;
}
