.faq-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* White Background per request */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    overflow: hidden;
}

.faq-title {
    color: #141414;
    /* Black Text */
    text-align: center;
    font-family: 'Anton', sans-serif !important;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -4px;
    text-transform: uppercase;
    margin-bottom: 50px;
    z-index: 10;
}

/* Satellite System Container */
.satellite-system {
    position: relative;
    width: 60vw;
    max-width: 1100px;
    aspect-ratio: 1/1;
    /* Square ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 10;
}

/* Center Text - Core */
.core-object {
    position: absolute;
    color: #141414;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    z-index: 100;
    background: #fff;
    padding: 30px;
    transform: translateZ(1px);
}

/* Sphere Container */
.satellite-radial-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Orbit Arm */
.satellite-arm {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    /* Radius = 50% of container */
    height: 0;
    display: flex;
    align-items: center;
    transform-origin: left center;
    /* Rotate around the parent center */
}

/* The Line */
.satellite-line {
    position: absolute;
    left: 22%;
    /* 120 / 550 */
    width: 45%;
    /* 247 / 550 */
    height: 1px;
    background-color: #141414;
    transform-origin: left center;
}

/* Text Node */
.satellite-node {
    position: absolute;
    left: 75%;
    width: 110%;

    display: flex;
    align-items: center;

    color: #141414;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.44px;
    text-transform: uppercase;
    white-space: nowrap;
    pointer-events: none;
}

.satellite-node.align-center {
    margin-left: -50%;
    transform-origin: center center;
    justify-content: center;
    text-align: center;
}

.satellite-node.align-right {
    margin-left: 5%;
    transform-origin: left center;
    justify-content: flex-start;
    text-align: left;
}

.satellite-node.align-left {
    margin-left: -115%;
    transform-origin: right center;
    justify-content: flex-end;
    text-align: right;
}